* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box !important;
}

#zz {
	position: relative;
	color: black;
}

#zz p {
	position: absolute;
	width: 38px;
	text-align: center;
}


.header {
	text-align: center;
}

body {
	padding: 20px;
}

#array {
	background-color: white;
	min-height: 420px;
	min-width: 600px;
	position: relative;
	margin-top: 40px;
	overflow-x: auto;
}

.block {
	width: 38px;
	background-color: #6b5b95;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}

.element_value {
	position: absolute;
	color: black;
	margin-top: -20px;
	width: 100%;
	text-align: center;
}

.notice {
	color: #fff;
	text-align: center;
	margin-top: 15px;
	height: 20px;
}

.animation {
	color: #dc0000;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

