* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}


body {
    margin: 0 auto;
}

.header {
    font-size: 20px;
    text-align: center;
}
  
#array {
    background-color: white;
    height: 413px;
    min-width: 600px;
    position: relative;
    margin-top: 64px;
}
  
.block {
    width: 28px;
    background-color: #6b5b95;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}
  
.element_value {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}